<div class="col-xs-8 col-xs-offset-2" style="background-color:rgba(255, 153, 0, 0.8); border-radius:25px; margin-top:45px">
    <img src='/assets/EggsBook_logo_transparent_background.png' style="width:100%">
    <div style="color:white; font-size:1.2em; text-align:center">the social network for people who love breakfast</div>

    <form action="<%= session_url %>" method="POST">
      <!-- <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->

      <input type="hidden" name="user[email]" value="sol@gmail.com">

      <input type="hidden" name="user[password]" value="asdf">
      <br>
      <div style="text-align:center">
        <input type="submit" value="Begin Demo" class="btn btn-info">
      </div>
      <br>
    </form>
</div>