<h1>Your Feed</h1>
<h3>What's on your mind</h3>
<%= render '/shared/post_form' %>
<br><br>

<% @feed_posts.each do |post| %>
  <div style="border: 1px solid orange">
    <%= render '/shared/post', post: post %>
  </div>
  <br><br>
<% end %>