<% var friendStatus = currentUser.friendStatus(user), btnClass, btnText %>

<% if(friendStatus === "friend") { %>
    <button class="friend-remove btn btn-danger btn-block" data-id="<%= user.id %>">Remove Friend</button>
<% } else if(friendStatus == "requiresFriendResponse") { %>

  <button class="btn btn-default btn-block" disabled="disabled">Request Sent</button>

<% } else if(friendStatus == "requiresYourResponse") { %>
  <button class="friend-confirm btn btn-success btn-block" data-id="<%= user.id %>">Confirm Friend</button>
<% } else if(friendStatus == "notFriends") { %>
  <button class="friend-add btn btn-success btn-block" data-id="<%= user.id %>">Add Friend</button>
<% } %>