<div class="row">
  <div class="col-xs-2">
    <div class="friend-info-container">
      <a href=<%= "/#/users/" + user.get('id') %> >
        <img src="<%= user.get('photo_urls').small %>" class="img-thumbnail"><br>
        <div class="friend-name"><%= user.get('name') %></div>
      </a>
    </div>
  </div>
  <div class="col-xs-9">
    <% var mutualFriends = currentUser.mutualFriends(user) %>
    <%= mutualFriends.length %> mutual friends

    <span class="mutual-friends">
    </span>
  </div>
</div>
<hr>