<span data-toggle="tooltip" 
   title data-original-title="<%= user.get('name') %>" 
   class="mutual-friend">
   <a href=<%= "/#/users/" + user.get('id') %>>

    <img src="<%= user.get('photo_urls').icon %>">
  </a>
<span>