<div id="user-photos">
  <% user.get('posts').withPhotos().forEach(function(post) { %>
    <div class="photo" data-id="<%= post.id %>" data-type="photo"%>
      photo goes here
    </div>
  <% }) %>
</div>

<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="large-photo-modal">
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->