<div id="user-posts">
  <% user.get('posts').models.forEach(function(post) { %>
    <div class="post-container" data-id="<%= post.id %>" data-type="post"%>
      post goes here
    </div>
  <% }) %>
</div>