<br><br>

<div class="friend-button">
</div>


<br>
<img src="<%= user.get('photo_urls').medium %>">

<% user.get('favorite_food_ids').forEach(function(food_id) { %>
  <% var food = foods.get(food_id) %>
  <% if(food) { %>
    <img src="<%= food.get('photo_urls').medium %>">
  <% } %>
<% }); %>

<ul>
  <!-- note: have this as a nav in the future that takes up teh whole page. the content renders depending on what the user has selected -->
  <li id="render-posts"><a>Posts</a></li>
  <li id="render-photos"><a>Photos</a></li>
  <li id="render-friends"><a>Friends</a></li>
</ul>

<div id="profile-content">
</div>