<div class="user-photo">
  user photo go here
</div>

<div class="details">
  comment details go here
</div>

<div class="like-info">
  <div class="like-button">
    comment like button goes here
  </div>

  <div class="liking-users">
    comment-liking-users go here
  </div>
</div>