<div class="comment">
  <div class="user-photo">
    user photo go here
  </div>

  <span class="details">
    comment details go here
  </span>

  <div class="like-info row">
    <div class="col-xs-1">
      <div class="like-button">
        comment like button goes here
      </div>
    </div>

    <div class="liking-users">
      comment-liking-users go here
    </div>
  </div>
</div>