<hr>
<div class="row">
  <div class="comment">
    <div class="user-photo col-xs-1.2">
      user photo goes here
    </div>

    <div class="row">
      <div class="col-xs-10">
        <span class="details">
          comment details go here
        </span>

        <div class="like-info">
          <div class="like-button">
            comment like button goes here
          </div>
        </div>

        <div class="liking-users">
          <div class="col-xs-8">
            comment-liking-users go here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>