<div class="like-button" data-type="comment" data-id="<%= objToRender.id %>">
  comment like button goes here
</div>

<div class="liking-users" data-type="comment" data-id="<%= objToRender.id %>">
  comment-liking-users go here
</div>

<div class="details" data-type="comment" data-id="<%= objToRender.id %>">
  comment details go here
</div>