<div class="details" data-type="comment" data-id="<%= objToRender.id %>">
  comment details go here (if this renders there is an error)
</div>

<div class="like-info">
  <div class="like-button" data-type="comment" data-id="<%= objToRender.id %>" style="float:left">
    comment like button goes here (if this renders there is an error)
  </div>

  <div class="liking-users" data-type="comment" data-id="<%= objToRender.id %>">
    comment-liking-users go here (if this renders there is an error)
  </div>
</div>