<% likingUsers = objToRender.get('liking_users').models %>
<% if(likingUsers.length > 0) { %>
  <div>liked by 
    <% _.each(likingUsers, function(user) { %>
      <a href="#/users/<%= user.id %>"><%= user.get('name') %></a>
    <% }); %>
  </div>  
<% }; %>
