<form action="<%= posts_url %>" method="POST">

  <label for="post_details">Post</label>
  <input  type="text" 
          name="post[details]" 
          id="post_details">
  <input type="submit" value="Create Post">
</form>