// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posting-user-image {
  float:left;
  padding: 2px;
  max-width: 100%;
}

.post-username {
  font-size: 1.3em;
}

.post { 
  // border: 1px solid gray;
  background-color: #dddddd;
  border-radius: 3px;
  padding: 10px 0px;
  margin: 10px 0px;

  .post-image {
    // max-width: 100%;
    float: left;
  }

  .new-comment {
    margin-top: 5px;
  }

  .like-btn {
    float: left;
    width: 8%;
    // font-size: 0.5em
  }

  .new-comment {
    .submit-button {
      display: none;
    }
  }

  .like-info {
    padding-top: 4px;
  }

  .liking-users {
    color: #444444;
  }

  hr {
    margin: 0px;
  }

}


.comment {
  padding: 5px 0px;
  font-size: 0.7em;

  .like-btn {
    float: left;
    // width: 100%;
  }

  .user-photo {
    float:left;
  }

  .like-info {
    padding-top: 4px;
  }

  .liking-users {
    color: #444444;
  }
}

.user-link {
  font-weight:bold;
}

#drop-zone {
  display: none;
  height: 113px;
  width: 100%;
  // background-color: white;
  background-image: url('dropzone_image.png');
  // background-image: url('loading_spinner.gif');
  padding: 5px 10px;
  color: #bbbbbb;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;

  img {
    height: 100px;
  }
}

// .drop-zone-text {
//   padding-top: 40px;
// }

#new-post {
  margin-left: 3px;
  width: 100%;
}

.new-post-text {
  padding-right:0px;
}

.new-post-create-button {
  padding-left: 1px;
  padding-right: 18px;
}

.dz-image-preview {
  height: 100px;
}

.white-bgcolor {
  background-color: white;
}

#post-submission-processing {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40px;
  left: 327px;
  z-index: 1000;

  img {
    width: 100%;
  }
}

.invisible {
  display: none;
}