// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posting-user-image {
  float:left;
  padding: 2px;
  max-width: 100%;
}

.post-username {
  font-size: 1.3em;
}

.post { 
  border: 1px solid gray;
  background-color: #dddddd;
  border-radius: 2%;
  padding: 10px 15px;
  margin: 10px 15px;


  .post-image {
    // max-width: 100%;
    float: left;
  }

  #new-comment {
    padding-top: 5px;
  }

  .like-btn {
    float: left;
    width: 8%;
    // font-size: 0.5em
  }

  .new-comment {
    .submit-button {
      display: none;
    }
  }

  .like-info {
    padding-top: 4px;
  }

  .liking-users {

    font-size: 0.7em;
    color: #444444;
  }
}


.comment {
  padding: 5px 0px;
  font-size: 0.7em;

  .like-btn {
    float: left;
    width: 100%;
  }

  .user-photo {
    float:left;
  }

  .like-info {
    padding-top: 4px;
  }

  .liking-users {
    color: #444444;
  }
}

.user-link {
  font-weight:bold;
}