// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-content {
  background-color:rgba(255, 153, 0, 0.8); 
  border-radius:25px; 
  margin-top:45px;

  .logo {
    width:100%;
  }
}