<div class="row">
  <!-- add comment field -->
  <form class="new-comment">
    <div class="form-group">
      <input  type="text" 
      name="comment[details]" 
      id="comment_details"
      class="form-control" 
      placeholder="Write a comment...">
    </div>

    <input type="submit" value="add comment" class="submit-button">
  </form>
</div>
