<div class="row">
  <div class="col-xs-10">
    <% _.each(post.get('comments').models, function(comment) { %>
    <div class="comment row" data-type="comment" data-id="<%= comment.id %>">
      comment goes here
    </div>
    <% }); %>
  </div>
</div>
