<br><br>
<h1>Write a Post</h1>

<div class="row">
  <div class="col-xs-12">
    <span id="post-submission-processing" class="invisible">
      <img src="/assets/ajax_loader_gray_512.gif">
    </span>
    <form enctype="multipart/form-data" action="/" id="new-post-form">  
      <div class="row">
        <div class="col-xs-10 new-post-text">
          <span class="form-group">
            <input  type="text"
            name="post[details]"
            id="new-post-details"
            class="form-control"
            placeholder="What's on your mind?">
          </span>
        </div>
        <div class="col-xs-2 new-post-create-button">
          <button id="new-post" class="btn btn-primary bnt-large">
            Create Post
          </button>
        </div>
      </div>

      <div id="drop-zone" class="drop-zone-text" style=height="300px">
      </div>
    </div>
  </div>

</form>

<h1>Your Feed</h1>

<div class="posts-container">
</div>

<!-- <div id="feed-posts" class="js-masonry" data-masonry-options='{"columnWidth": 280, "itemSelector": ".post"}'>
  <% feed.models.forEach(function(post) { %>
  <div class="post-container" data-id="<%= post.id %>" data-type="post"%>
    post goes here
  </div>
  <% }); %>
</div> -->